{% comment %} <!-- student/partials/_recent_messages.html -->
<div id="recent-messages" class="dashboard-section" hx-trigger="load, every 60s" hx-swap="outerHTML">

  <h3>Recent Messages</h3>
  <a href="" class="btn btn-outline btn-vsm">View All</a>

  {% if messages %}
  <div class="messages-list">
    {% for msg in messages %}
    <div class="message-item {% if msg.is_unread %}unread{% endif %}">
      <img src="{{ msg.sender.profile_picture.url }}" alt="Tutor" class="message-avatar">
      <div class="message-content">
        <div class="message-header">
          <span class="message-sender">{{ msg.sender.get_full_name }}</span>
          <span class="message-time">{{ msg.timestamp|timesince }} ago</span>
        </div>
        <p class="message-text">{{ msg.preview|truncatechars:80 }}</p>
      </div>
      {% if msg.is_unread %}
      <div class="message-unread unread"></div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p class="text-muted">No recent messages yet.</p>
  {% endif %}
</div> {% endcomment %}
<div class="side-view-top" id="recent-messages" hx-trigger="load, every 60s" hx-swap="outerHTML">
  <!-- Recent Messages -->
  <div class="dashboard-section">
    <h3>Chats</h3>
    <a href="chat.html" class="btn btn-outline btn-vsm">View All</a>
  </div>
  <div class="messages-list">
    {% if chats %}
    {% for chat in chats %}

    {% with message=chat.messages.all.last %}

    <div hx-get="{% url 'room' chat.id %}" hx-swap="outerHTML" hx-target=".main-view-top" hx-push-url="true"  class="message-item">
      <img src=" /static{{ message.sender.avatar.url}}" alt="Tutor" class="message-avatar">
      <div class="message-content">
        <div class="message-header">

          <span class="message-sender">{% if message.sender != request.user %}
            {{ message.sender }}
            {% else %}
            {{ message.receiver }}
            {% endif %}</span>
          <span class="message-time">{{ message.timestamp|timesince }} ago</span>
        </div>
        <p class="message-text"> {{ message.content|truncatechars:80 }}...</p>
      </div>
      {% if not message.is_read %}
      <div class="message-unread unread"></div>
      {% endif %}

    </div>

    {%endwith%}
    {% endfor %}
    </a>
    {% else %}
    <p class="text-muted">No recent messages yet.</p>
    {% endif %}
  </div>
</div>