 {% load static%}
<div class="side-view-top" >
  <!-- Recent Messages -->
  <div class="dashboard-section">
    <h3>Chats</h3>
    <a href="chat.html" class="btn btn-outline btn-vsm">View All</a>
  </div>
  <div class="messages-list">
    {% if chats %}
    {% for chat in chats %}

    {% with message=chat.messages.all.last %}

    <div hx-get="{% url 'room' chat.id %}" hx-swap="outerHTML" hx-target=".main-view-top" hx-push-url="true"  class="message-item">
      <img src=" /static{{ message.sender.avatar.url}}" alt="Tutor" class="message-avatar">
      <div class="message-content">
        <div class="message-header">

          <span class="message-sender">{% if message.sender != request.user %}
            {{ message.sender }}
            {% else %}
            {{ message.receiver }}
            {% endif %}</span>
          <span class="message-time">{{ message.timestamp|timesince }} ago</span>
        </div>
        <p class="message-text"> {{ message.content|truncatechars:80 }}...</p>
      </div>
      {% if not message.is_read %}
      <div class="message-unread unread"></div>
      {% endif %}

    </div>

    {%endwith%}
    {% endfor %}
    </a>
    {% else %}
    <p class="text-muted">No recent messages yet.</p>
    {% endif %}
  </div>
</div>