{% extends "dashboard.html" %}

{% block main %}

<div class="main-view-top">

    <!-- Quick Stats -->
    <div class="section-body" id="notifList" hx-get="/api/notifications" hx-trigger="load">
        <div class="list">
             
            {% for notif in notifications %}
            
            <div class="notif {% if not notif.is_read %} unread {% endif %}">
                <div class="notif-profile">
                    <img src="/static{{notif.recipient.avatar.url}} " alt="">
                    <i class="fas fa-message"></i>
                </div>
                <div class="notif-body">
                    <div class="notif-title">{{notif.message|truncatechars:'15'}}</div>
                    <div class="notif-meta">{{notif.message}}</div>
                </div>

            </div>
            
            {% endfor %}
        </div>
    </div>

</div>
{% endblock main %}