{% load static %}
{%csrf_token%}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "includes/_head.html" %}
</head>
<style>
    .dashboard-main {
        display: block;

    }
</style>

<body>
    <!-- Navbar -->
    {% include "includes/_navbar.html" %}

    <div class="dashboard-container">
        <!-- Sidebar -->
        <aside class="dashboard-sidebar">
            {% include "includes/_sidebar.html" %}
        </aside>
        <!-- Main Content -->
        <main class="dashboard-main">
            <div class="main-view">
                <div class="main-view-top">

                    <!-- Quick Stats -->
                    <div class="tutor-categories profile-view-cat">
                        <div class="category-tabs">
                            <button class="profile-tab " onclick="showTutorTab('about')" data-category="all">About
                                Me</button>
                            <button class="profile-tab" onclick="showTutorTab('packages')"
                                data-category="my-tutor">packages</button>
                            <button class="profile-tab" onclick="showTutorTab('availablity')"
                                data-category="favorites">Booking</button>
                            <button class="profile-tab active" onclick="showTutorTab('feedback')"
                                data-category="favorites">
                                Feedbacks</button>
                        </div>
                    </div>


                    <div id="about" class="profile-view-tab active">
                        <div class="profile">
                            <div class="profile-top">
                                <div class="profile-img">
                                    <img src="/static{{tutor.user.avatar.url}}" alt="makima san">
                                </div>
                            </div>
                            <div class="profile-info">
                                <div class="profile-name">
                                    <h2> {{tutor.user.first_name}} {{tutor.user.last_name}}:<span> PhD in
                                            Mathimatics</span></h2>
                                    <p>Advisor and teacher in Addis-Ababa University.</p>

                                    <!-- <p class="profile-info-icons">
                    <span><i class="fas fa-location"></i>Addis-Ababa</span>
                    <span> <i class="fas fa-calendar"></i>Available</span>
                 </p> -->

                                </div>
                                <div>
                                    <button class="btn btn-primary">Chat</button>
                                </div>
                            </div>

                        </div>
                        <div class="profile-detail">
                            <div class="profile-about">
                                <h3>About Me</h3>
                                <strong>Bio</strong>
                                <i>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum ex assumenda, fuga
                                    labore dolor consequatur dolores atque aspernatur eveniet et, iusto itaque quo.</i>
                                <span><i class="fas fa-user"></i> <strong>User</strong> - Tutor</span>
                                <span><i class="fas fa-star"></i> <strong>Rating</strong> - 4.5/5</span>
                                <span><i class="fas fa-female"></i> <strong>Gender</strong> - female</span>

                                <span><i class="fas fa-location"></i><strong> Experience level</strong> - 5+ years
                                    teaching/tutoring</span>
                                <span><i class="fas fa-language"></i> <strong>Languages</strong> - English, Amharic,
                                    Somali</span>
                                <span><i class="fas fa-calendar"></i> <strong></strong> - 21 feb 2025</span>

                            </div>
                            <div class="profile-edu">
                                <h3>Educational Background</h3>


                                <div class="institutes">
                                    <i class="fas fa-graduation-cap"></i>
                                    <div>

                                        <h4>Adama Science and Technology University</h4> <span>Masters in
                                            Psychology</span>
                                        <span>Master's degree in Psychology</span>
                                    </div>
                                </div>
                                <div class="institutes">
                                    <i class="fas fa-graduation-cap"></i>
                                    <div>

                                        <h4>Adama Science and Technology University</h4> <span>Masters in
                                            Psychology</span>
                                        <span>Bachelor's degree in Computer Science</span>
                                    </div>
                                </div>


                            </div>
                            <div class="profile-courses">
                                <h3>Course and subjects</h3>
                                <ul>
                                    <li>Mathimatics</li>
                                    <li>Advanced Mathimatics</li>
                                    <li>English</li>
                                    <li>SAT</li>
                                </ul>
                            </div>
                            <div class="profile-contact">
                                <h3>Contact Info</h3>
                                <div>
                                    <span>Location</span>
                                    <p><i class="fa-location"> </i> Addis-Ababa, Ethiopia</p>
                                    <span>Phone number</span>
                                    <p>+25-198-58-566</p>
                                    <span>Social media</span>
                                    <p><i class=" fas fa-twitter"> </i> @lishaleman</p>
                                    <p><i class="fas fa-instagram"> </i> @lishaleman</p>


                                </div>


                            </div>
                            <div class="profile-cta">

                                <button class="btn btn-primary">Contact Me</button>
                                <button class="btn btn-outline">Packages </button>

                            </div>

                        </div>

                    </div>

                    <div id="packages" class="profile-view-tab">
                        <div class="pkg-list">
                            {% for pkg in packages %}
                            <div class="pkg-card">
                                <div class="pkg-header">
                                    <h2>{{pkg.name}}</h2>
                                </div>
                                <div class="pkg-price">
                                    <h2>{{pkg.price}} <small>ETB.</small></h2>
                                </div>
                                <div class="pkg-body">
                                    {{pkg.description}}
                                    <li><span><i class="fas fa-check-square"></i>Total session</span>
                                        <span>{{pkg.total_session}}</span>
                                    </li>
                                    <li><span><i class="fas fa-check-square"></i>duration per session</span>
                                        <span>{{pkg.session_duration}}-min</span>
                                    </li>
                                    <li><span><i class="fas fa-check-square"></i>session per week</span>
                                        <span>{{pkg.session_perweek}}</span>
                                    </li>
                                    <li><span><i class="fas fa-check-square"></i>session type
                                        </span><span>{{pkg.session_type}}</span></li>

                                </div>
                                <div class="pkg-cta">
                                    <button onclick=(openConfirmModal()) class="btn btn-primary">Send A Request</button>

                                </div>
                            </div>
                            <div id="confirmModal" class="modal">
                                <div class="modal-content confermation">
                                    <div class="confirm-header">
                                        <small>Session Request </small>
                                        <span class="close" onclick="closeConfirmModal()">&times;</span>
                                    </div>
                                    <div class="confirm-msg">
                                        NB: This Process dose't Requier any payment. <br> Please Confirm To Send a
                                        Request
                                        & wait Until @{{tutor.user.username}} accept your request,
                                        <div class="confirm-obj">


                                            <h3>Choose the subject you want to enroll </h3>

                                            <form id="starting" action="{% url 'request_session'  pkg.id%}" method="post">
                                                {%csrf_token%}
                                                <select name="selected_subject" id="selected-subject">
                                                    {%for subject in subjects %}
                                                    <option name='subject' value="{{subject}}">{{subject}}</option>
                                                    {%endfor%}
                                                </select>
                                                <input type="hidden" name="package_id" value="">
                                                <div class="confirm-action">
                                                    <button type="submit" class="btn btn-danger">Confirm</button>
                                                    <button type="button" class="btn btn-primary">cancel</button>
                                                </div>
                                            </form>

                                        </div>
                                    </div>


                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="availablity" class="profile-view-tab">

                    </div>
                    <div id="feedback" class="profile-view-tab ">
                        <h2>Rating and review</h2>
                        <div class="feedback-list">
                            <div class="feedback-body">
                                <div class="feedback-header">
                                    <h1>4.5 <i class="fas fa-star"></i></h1>

                                    <div class=" feedback-bar">
                                        <p>5</p>
                                        <div class="rating-container">
                                            <div class="rate 5" style="width: 90%; background-color: #21a177;">90%</div>
                                        </div>

                                        <p>4</p>
                                        <div class="rating-container">
                                            <div class="rate 4" style="width: 80%;  background-color: #21a177;">80%
                                            </div>
                                        </div>

                                        <p>3</p>
                                        <div class="rating-container">
                                            <div class="rate 3" style="width: 65%; background-color: #21a177;">65%</div>
                                        </div>

                                        <p>2</p>
                                        <div class="rating-container">
                                            <div class="rate 2" style="width: 60%; background-color: #21a177;">60%</div>
                                        </div>
                                        <p>1</p>
                                        <div class="rating-container">
                                            <div class="rate " style="width: 60%; background-color: #21a177;">60%</div>
                                        </div>
                                    </div>

                                </div>

                                <hr>
                                <div class="feedbacks">
                                    <div class="feedback-card">
                                        <div class="feedbacker">
                                            <img src="img/makima.jpg" alt="">
                                            <span> Harley Quien</span>
                                        </div>
                                        <span> * * * * 7/27/25 </span>
                                        <p>Lorem ipsum dolor sit amet, consectetur voluptas nostrum nihil voluptatibus
                                            ip
                                            sa repellat distinctio corporis, modi amet odio beatae recusandae </p>
                                    </div>

                                    <div class="feedback-card">
                                        <div class="feedbacker">
                                            <img src="img/makima.jpg" alt="">
                                            <span> Harley Quien</span>
                                        </div>
                                        <span> * * * * 7/27/25 </span>
                                        <p>Lorem ipsum dolor sit amet, consectetur voluptas nostrum nihil voluptatibus
                                            ip
                                            sa repellat distinctio corporis, modi amet odio beatae recusandae </p>
                                    </div>

                                    <div class="feedback-card">
                                        <div class="feedbacker">
                                            <img src="img/makima.jpg" alt="">
                                            <span> Harley Quien</span>
                                        </div>
                                        <span> * * * * 7/27/25 </span>
                                        <p>Lorem ipsum dolor sit amet, consectetur voluptas nostrum nihil voluptatibus
                                            ip
                                            sa repellat distinctio corporis, modi amet odio beatae recusandae </p>
                                    </div>

                                    <div class="feedback-card">
                                        <div class="feedbacker">
                                            <img src="img/makima.jpg" alt="">
                                            <span> Harley Quien</span>
                                        </div>
                                        <span> * * * * 7/27/25 </span>
                                        <p>Lorem ipsum dolor sit amet, consectetur voluptas nostrum nihil voluptatibus
                                            ip
                                            sa repellat distinctio corporis, modi amet odio beatae recusandae </p>
                                    </div>

                                    <div class="feedback-card">
                                        <div class="feedbacker">
                                            <img src="img/makima.jpg" alt="">
                                            <span> Harley Quien</span>
                                        </div>
                                        <span> * * * * 7/27/25 </span>
                                        <p>Lorem ipsum dolor sit amet, consectetur voluptas nostrum nihil voluptatibus
                                            ip
                                            sa repellat distinctio corporis, modi amet odio beatae recusandae </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </main>
    </div>



    <div id="confirmModal" class="modal">
        <div class="modal-content confermation">
            <div class="confirm-header">
                <small>Delete File</small>
                <span class="close" onclick="closeConfirmModal()">&times;</span>
            </div>
            <div class="confirm-msg">
                are you you want to do smth tosure this thing
                <div class="confirm-obj">
                    package name and blah blah!
                </div>
            </div>

            <div class="confirm-action">
                <button class="btn btn-danger">Confirm</button>
                <button class="btn btn-primary">cancel</button>
            </div>
        </div>
    </div>

    <script>

        function openConfirmModal() {
            document.getElementById('confirmModal').style.display = 'block';
        }

        function closeConfirmModal() {
            document.getElementById('confirmModal').style.display = 'none';
        }
    </script>
    {% include "includes/_scripts.html" %}
</body>

</html>