{% extends "dashboard.html" %} {% block main %}

<style>
  
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}
</style>
<div class="main-view-top">
  <!-- Quick Stats -->
<div class="tutor-categories">
        <div class="category-tabs">
          <button class="tutor-tab active" onclick="showTutorList('tutor-grid')" data-category="all">
            Explore Tutors
          </button>
          <button class="tutor-tab" onclick="showTutorList('my-tutor-grid')" data-category="my-tutor">
            My Tutors
          </button>
        </div>
      </div>
  

  <div class="tutor-grid active" id="tutor-grid">
    <div>
    <div class="tutor-header">
      
      <br />
      <div class="search-group">
        <input type="text" placeholder="Search resources..." value="{{search_text}}" name="search_text"
          hx-get="{% url 'tutor_search' %}" hx-target=".exp_result" hx-trigger="keyup changed delay:500ms" />
      </div>
    </div>

    <div class="tutor-filters">
      <div class="filter-group">
        <label for="subject-filter">Subject</label>
        <select id="subject-filter" name="subject" hx-get="{% url 'tutor_search' %}" hx-target=".exp_result"
          value="{{subject}}" hx-trigger="change changed delay:500ms">
          <option value="">All Subjects</option>
          <option value="mathematics">Mathematics</option>
          <option value="physics">Physics</option>
          <option value="chemistry">Chemistry</option>
          <option value="biology">Biology</option>
          <option value="english">English</option>
        </select>
      </div>

      <div class="filter-group">
        <label for="gender-filter">Type</label>
        <select id="gender-filter" name="gender_filter" hx-get="{% url 'tutor_search' %}" hx-target=".exp_result"
          value="{{gender_filter}}" hx-trigger="change changed delay:500ms">
          <option value="">All Types</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>

      <div class="filter-group">
        <label for="rating-filter">Level</label>
        <select id="rating-filter" name="rating" hx-get="{% url 'tutor_search' %}" hx-target=".exp_result"
          value="{{rating}}" hx-trigger="change changed delay:500ms">
          <option value="">All Rating</option>
          <option value="4.0">above 4.0</option>
          <option value="4.5">above 4.5</option>
        </select>
      </div>

      <div class="filter-group">
        <label for="expirience-filter">Rating</label>
        <select id="expirience-filter" name="expirience" hx-get="{% url 'tutor_search' %}" hx-target=".exp_result"
          value="{{expirience}}" hx-trigger="change changed delay:500ms">
          <option value="">All Rating</option>
          <option value="1.0">above 1 years</option>
          <option value="3.0">above 3 years</option>
          <option value="5.0">above 5 years</option>
          <option value="8">above 8 years</option>
        </select>
      </div>

      <div class="filter-group ">
        <label for="hr-rate-filter">Price</label>
        <div style="display: flex; align-items: center; gap: 0.5rem;">
        <input type="range" min="0" max="500" value="0" class="slider" id="range" id="hr-rate" name="hr_rate"
          hx-get="{% url 'tutor_search' %}" hx-target=".exp_result" value="{{hr_rate}}"
          hx-trigger="change changed delay:500ms" />
         <span id="price_value"></span>ETB
        </div>
      </div>
    </div>
  </div>
    <div class="exp_result">
      
    {% for tutor in exp_tutors %}
    <div class="tutor-card">
      <div class="tutor-thumbnail">
        <img src="/static{{tutor.user.avatar.url}} " alt="{{tutor.user.username}}d" />
      </div>
      <div class="tutor-content">
        <div class="tutor-meta">
          <h3>
            {{ tutor.user.username}}
            <span class="level"><i class="fa fa-star"></i> {{tutor.rating}} (127 reviews)
            </span>
          </h3>
          <div>{{tutor.user.bio|truncatewords:"30" }}...</div>
          <div>
            <span class="level"><i class="fa fa-location"></i>{{tutor.user.city}}
            </span>
            <span><i class="fa fa-dollar"></i> {{tutor.horuly_rate}} /hr </span>

            <span class="subject">Mathematics</span>
            <span class="subject">Physics</span>
            <span class="subject">English</span>
          </div>
        </div>
        <div class="tutor-stats">
            <a href="{% url 'new_chat' tutor.user.id%} ">
            <button class="btn btn-primary">Start Chat</button>
          </a>      
              <a href="{% url 'view_tutor' tutor.id%} ">
            <button class="btn btn-outline">More</button>
          </a>

          <!-- IF already have a parent schedule scheduled -->
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>

  <div class="tutor-grid" id="my-tutor-grid">
        <div>
    <div class="tutor-header">
      
      <br />
      <div class="search-group">
        <input type="text" placeholder="Search resources..." value="{{search_text}}" name="search_text"
          hx-get="{% url 'my_tutor_search' %}" hx-target=".my-tutors-list" hx-trigger="keyup changed delay:500ms" />
      </div>
    </div>

    <div class="tutor-filters">
      <div class="filter-group">
        <label for="subject-filter">Subject</label>
        <select id="subject-filter" name="subject" hx-get="{% url 'my_tutor_search' %}" hx-target=".my-tutors-list"
          value="{{subject}}" hx-trigger="change changed delay:500ms">
          <option value="">All Subjects</option>
          <option value="mathematics">Mathematics</option>
          <option value="physics">Physics</option>
          <option value="chemistry">Chemistry</option>
          <option value="biology">Biology</option>
          <option value="english">English</option>
        </select>
      </div>
      
    </div>
  </div>
    <div class=" grid ">
       {% for tutor in my_tutors %}     
       <div class="my-card">
                        <div class="card-hero"  >
                            <img class="avatar" src="/static{{tutor.avatar.url}} " alt="Student">
                        </div>
                        <div class="card-body">
                            <div class="meta"> <strong>{{tutor.first_name}} · {{tutor.last_name}}</strong>   <div><i class="fas fa-star"></i> {{tutor.tutor.rating}}</div></div>
                            
                            <div class="meta"> Tutor · {% if tutor.profile.is_availabel %} Availabel {% else %}Not Availabel {%endif%}  </div>
                            <div class="chips">
                                <span class="chip">Mathematics</span>
                                <span class="chip">Physics</span>
                            </div>
                            <div class="actions">
                                <a href="student-profile.html" class="btn btn-outline btn-vsm">Request Package</a>
                                <a href="chat.html" class="btn btn-primary btn-vsm">Book Session</a>
                            </div>
                        </div>
                    </div> 
       {% endfor%}
      
    </div>
  </div>
</div>

<script>
  var slider = document.getElementById("range");
  var output = document.getElementById("price_value");
  output.innerHTML = slider.value;

  slider.oninput = function () {
    output.innerHTML = this.value;
  };
</script>
{% endblock main %}