{% extends "base.html" %}

{% block title %}Student Dashboard - FLARE{% endblock %}

{% block content %}
<div class="main-view">

    <div class="main-view-top">

        {%include "common/chat/partials/_chat_detail.html" %}
        <!-- Quick Stats -->


    </div>



    <div class="side-view">
        <div class="side-view-top">
            {% comment %} THis will use HX to update every second {% endcomment %}
            add new chat
            {% include "common/chat/partials/_chat_rooms.html" %}

        </div>

    </div>
</div>

{% endblock %}