{% load static %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}FLARE{% endblock %}</title>
<script src='{% static "fullcalendar-6.1.17/dist/index.global.js" %}'></script>
<script src='{% static "moment/moment.min.js" %}'></script>

<link rel="stylesheet" href="{% static 'styles/styles.css' %}">
<link rel="stylesheet" href="{% static 'styles/calandar.css' %}">
<link rel="stylesheet" href="{% static 'styles/chat.css' %}">
<link rel="stylesheet" href="{% static 'styles/dasbboardNav.css' %}">
{% comment %} <link rel="stylesheet" href="{% static 'styles/modal.css' %}"> {% endcomment %}
{% comment %} <link rel="stylesheet" href="{% static 'styles/resources.css' %}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'styles/tutor-profile.css' %}">
<link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
{% comment %} <link rel="stylesheet" href="{% static 'styles/package.css' %}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'styles/tutors.css' %}">
<link rel="stylesheet" href="{% static 'asset/css/all.css' %}">
<link rel="stylesheet" href="{% static 'styles/forms.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<script src='{% static "HTMX.MINI.JS/htmx.min.js" %}'></script>
 