{% load static %}


{% if request.user.role == 'student' %}
<nav class="sidebar-nav">
    <a href="{% url 'student_dashboard' %}" class="sidebar-link active">
        <i class="fas fa-home"></i>
        <p> Dashboard</p>
    </a>
    <a href="{% url 'my_tutors' %}" class="sidebar-link">
        <i class="fas fa-calendar"></i>
        <p>My Tutors</p>
    </a>
    <a href="{% url 'session_list' %}" class="sidebar-link">
        <i class="fas fa-person-chalkboard"></i>
        <p>Booked sessions</p>

    </a>
    <a href="{% url 'base_session_list' %}" class="sidebar-link">
        <i class="fas fa-person-circle-question"></i>
        <p>Base sessions</p>

    </a>
    <a href="{% url 'resources' %}" class="sidebar-link">
        <i class="fas fa-book-open"></i>
        <p>Resources</p>

    </a>
    <a href="{% url 'chats' %}" class="sidebar-link">
        <i class="fas fa-message"></i>
        <p>Messages</p>

    </a>
    <a href="{% url 'payment_history' %}" class="sidebar-link">
        <i class="fas fa-dollar"></i>
        <p>Payment</p>

    </a>
    </a>
    <a href="{% url 'notification' %}" class="sidebar-link">
        <i class="fas fa-bell"></i>
        <p>Notifications</p>

    </a>
    <a href="{% url 'base_session_list' %}" class="sidebar-link">
        <i class="fas fa-calendar"></i>
        <p> Book Session</p>
    </a>
</nav>
{%else%}
<nav class="sidebar-nav">
    <a href="{% url 'tutor_dashbord' %}" class="sidebar-link active">
        <i class="fas fa-home"></i>
        <p> Dashboard</p>
    </a>

    <a href="{% url 'session_list' %}"  class="sidebar-link">
        <i class="fas fa-chalkboard"></i>
        <p>Booked sessions</p>

    </a>

    <a href="{% url 'base_session_manage' %}"  class="sidebar-link">
        <i class="fas fa-person-circle-question"></i>
        <p>Requested Packages</p>

    </a>
     <a href="{% url 'chats' %}" class="sidebar-link">
        <i class="fas fa-message"></i>
        <p>Messages</p>

    </a>
    <a href="{% url 'resources' %}" class="sidebar-link">
        <i class="fas fa-book-open"></i>
        <p>Resources</p>

    </a>
    <a href="{% url 'my_students' %}" class="sidebar-link">
        <i class="fas fa-users"></i>
        <p>My Students</p>

    </a>
    <a href="{% url 'set_availablity' %}" class="sidebar-link">
        <i class="fas fa-calendar"></i>
        <p>Availability</p>

    </a>
    <a href="{% url 'manage_package' %}" class="sidebar-link">
        <i class="fas fa-box"></i>
        <p>Packages</p>

    </a>
    <a href="{%url 'notification' %}" class="sidebar-link">
        <i class="fas fa-bell"></i>
        <p>Notifications</p>

    </a>
    <a href="{%url 'earning'%}" class="sidebar-link">
        <i class="fas fa-dollar"></i>
        <p>Earnings</p>

    </a>
</nav>
{% endif %}