{%extends "dashboard.html"%}

{% block main %}
<div class="main-view-top">

    <div class="students-wrap">
        <div class="section">
            <div   style="display:flex; justify-content:space-between;padding:0 1rem;border:none;  background: var(--background-color);">
                <h3>All Students</h3>
                <div class="filters">
                    <input type="text" placeholder=" Search..." hx-get="/api/students" hx-trigger="keyup changed delay:300ms" hx-target="#studentsGrid">

                </div>
            </div>
            <div class="section-body" id="studentsGrid" hx-get="/api/students" hx-trigger="load">
                <div class="grid">
                    {% for student in my_students %}
                     <div class="my-card">
                        <div class="card-hero">
                            <img class="avatar" src="/static{{student.avatar.url}} " alt="Student">
                        </div>
                        <div class="card-body">
                            <strong>{{student.first_name}} {{student.last_name}}</strong>
                            <div class="meta">{{student.profile.grade_level}} · {{student.profile.field_of_study}}</div>
                            <div class="chips">
                                <span class="chip">Mathematics</span>
                                <span class="chip">Physics</span>
                            </div>
                            <div class="actions">
                                <a href="{% url 'view_student' student.profile.id %}" class="btn btn-outline btn-vsm">View</a>
                                <a href="{% url 'room_user'  student.id%}" class="btn btn-primary btn-vsm">Message</a>
                            </div>
                        </div>
                    </div> 
                    {% endfor %} 
                    {% if not sessions %}
                        you have no students
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}