{% comment %} {% extends "base.html" %}
{% block content %} {% endcomment %}
<div class="failed-container" style="text-align:center; margin-top:50px;">
  <h1 style="color:#dc3545;">❌ Payment Failed</h1>
  {% if payment %}
    <p>Oops! Something went wrong while processing your payment of <strong>{{ payment.amount }} ETB</strong>.</p>
    <p>Transaction Reference: <code>{{ payment.refrence_id }}</code></p>
  {% else %}
    <p>We couldn’t find the payment record. Try again later.</p>
  {% endif %}
  
  <div style="margin-top:30px;">
    <a href="{% url 'student_dashbord'%}" class="btn btn-danger">Try Again</a>
    <a href="{% url 'student_dashbord' %}" class="btn btn-outline-secondary">Back to Dashboard</a>
  </div>
</div>
{% comment %} {% endblock %} {% endcomment %}
