{%load static%}

<meta charset='utf-8' />
<script src='{% static "fullcalendar-6.1.17/dist/index.global.js" %}'></script>
<script src='{% static "HTMX.MINI.JS/htmx.min.js" %}'></script>
<link rel="stylesheet" href='{% static "styles/styles.css"%}'>  



<div id='calendar'></div>

  <form method="post" id="availablity-form">
  {%csrf_token%}
    <input type="hidden" name='availablity_json' id="availablity-json">
    <button> Save Availability </button>
</form>


<script>
  let availablity='{{availablity__json | safe}}'
  availablity = JSON.parse(availablity)
  document.addEventListener('DOMContentLoaded', function() {
  var calendarEl = document.getElementById('calendar');

  var calendar = new FullCalendar.Calendar(calendarEl, {
    headerToolbar: {
      left: 'prev,next today',
      center: 'title',
      right: 'timeGridWeek,timeGridDay'
    },
    initialView: 'timeGridWeek',
    editable: true,
    allDaySlot: false,
    slotDuration: '00:30:00',
    navLinks: true, // can click day/week names to navigate views
    selectable: true,
    events:[
          ...availablity.map(slot=>({
          title: 'Available',
          start: slot.start,          
          end: slot.end,
          backgroundColor:'#28a745',
          borderColor:'#28a745',
        }))

      ],

    select: function(info){
      const title = prompt('Label this slot (optional)?', 'Available')
      if (title !== null){
        const repeat = confirm('Reepeat this weekely?')
        let weeks = 0;
        if (repeat){
          weeks = parseInt(prompt('Repeat for how many weeks??','4'))||0;
        }
        calendar.addEvent({
          title: title,
          start: info.start,
          end: info.end
        });
        for (let i =1;i<=weeks; i++){
          const nextStart = new Date(info.start)
          const nextEnd = new Date(info.end)

          nextStart.setDate(nextStart.getDate() + (i * 7));
          nextEnd.setDate(nextEnd.getDate() + (i * 7));
          calendar.addEvent({
        title: title,
        start: nextStart,
        end: nextEnd
      })
        }
      
      }
    },
    eventClick: function(info){
      if (confirm('Remove this Slot?')){
        info.event.remove();
      }
    }
  });

  calendar.render();

  // subit all availablity events in collection
  document.getElementById('availablity-form').addEventListener('submit', function(e){
    e.preventDefault();

    const events = calendar.getEvents().map(event =>({
      start: event.start.toISOString(),
      end: event.end.toISOString(),
      title: event.title
    }));

    document.getElementById('availablity-json').value = JSON.stringify(events);
    this.submit();
    window.alert()
  })
});


</script>
 