{% extends "dashboard.html" %}

{% block main %}
<div class="main-view-top">

    <!-- Quick Stats -->
    <div class="container">
        <div class="resources-header">
        {% if request.user.role == 'tutor' %}
                 <h2>Resources Upload</h2>
                <p>Share educational content with your students</p>
                <button class="btn btn-primary" onclick="openUploadModal()">Upload Resource</button>
        {% else %}
                <h2>Resource Library</h2>
        {% endif %}
        
        </div>

        <div class="resources-filters">
              <div class="search-group">
                <input type="text" placeholder="Search resources..." hx-get="{% url 'resource_search' %}" name="query" value="{{query}}"
                    hx-target="#resources-grid" hx-trigger="keyup changed delay:500ms">
            </div>
        </div>

        <div class="resources-categories">
            <div class="category-tabs">
                {% comment %} <button class="category-tab active" data-category="all">All Resources</button>
                <button class="category-tab" data-category="my-resources">My Resources</button>
                <button class="category-tab" data-category="favorites">Favorites</button>
                <button class="category-tab" data-category="recent">Recently Viewed</button> {% endcomment %}
            </div>
        </div>

        <div class="resources-grid" id="resources-grid">
            {% include "resources/_results.html" %}
            
        </div>
        {% if not resources %}
        <div class="load-more">
            <button class="btn-outline btn-sm"  >
                No Resources Availabele
            </button>
        </div>
        {% endif %}
        
    </div>
</div>
{% endblock main %}


