{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% include "includes/_head.html" %}
</head>
<style>
    .dashboard-main {
        display: block;

    }
</style>

<body>
    <!-- Navbar -->
    {% include "includes/_navbar.html" %}

    <div class="dashboard-container">
        <!-- Sidebar -->
        <aside class="dashboard-sidebar">
            {% include "includes/_sidebar.html" %}
        </aside>
        <!-- Main Content -->
        <main class="dashboard-main">
            <div class="main-view">
                <div class="main-view-top">

                    <div class="profile-content">
                        <div class="profile-tabs">
                            <button class="tab-btn active" value="profile" onclick="showProfileTab('personal')">Personal
                                Info</button>
                            <button class="tab-btn" value="tutor" onclick="showProfileTab('tutor')">Tutor
                                Details</button>
                            <button class="tab-btn" value="settings"
                                onclick="showProfileTab('settings')">Settings</button>
                        </div>

                        <div class="profile-main">

                            <div id="personal" class="tab-content active">
                                <div class="card ">


                                    <div class="card-header">
                                        <h3>Personal Information</h3>
                                    </div>
                                    <div class="profile-card">
                                        <div class="profile-avatar-large"><img src="img/makima.jpg" alt=""></div>
                                        <div>
                                            <h3>John Doe</h3>
                                            <p>Mathematics & Physics Tutor</p>

                                            <a class="btn btn-sm">Change Avatar</a>
                                    <button class="btn btn-outline">Edit</button>

                                        </div>
                                    </div>
                                    <form class="profile-form" method="post">
                                        {% csrf_token%}
                                        <div class="card-header">
                                            <h4>Personal Details</h2>
                                        </div>
                                        <div class="form-row">

                                            <div class="form-group">
                                                <label>First Name</label>
                                                {{user_form.first_name}}
                                            </div>
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                {{user_form.last_name}}
                                            </div>

                                        </div>
                                        <div class="address-row">
                                            <div class="form-group">
                                                <label>Email</label>
                                                {{user_form.email}}
                                            </div>
                                            
                                            <div class="form-group">
                                                <label>Username</label>
                                                {{user_form.username}}
                                            </div>
                                            <div class="form-group">
                                                <label>Phone</label>
                                                {{user_form.phone}}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group">
                                                <label>Date of Birth</label>
                                                {{user_form.date_of_birth}}
                                            </div>
                                            <div class="form-group">
                                                <label>Sex</label>
                                                {{user_form.gender }}
                                            </div>
                                        </div>
                                        <div class="address-row">
                                            <div class="form-group">
                                                <label>Country</label>
                                                {{user_form.country}}
                                            </div>
                                            <div class="form-group">
                                                <label>City</label>
                                                {{user_form.city}}
                                            </div>
                                            <div class="form-group">
                                                <label>Sub-City</label>
                                                {{user_form.sub_city}}
                                            </div>

                                        </div>
                                        <button type="submit" class=" btn btn-primary">Save</button>
                                    
                                    <!-- </form> -->
                                </div>
                            </div>

                            <div id="tutor" class="tab-content">
                                <div class="card">
                                    <div class="card-header">
                                        <h3>Tutor Profile</h3>
                                        <button class="btn btn-outline">Edit</button>
                                    </div>
                                    <!-- <form class="profile-form" method="post">
                                        {% csrf_token%} -->
                                        <div class="form-group">
                                            <label>Bio</label>
                                            {{user_form.bio}}
                                        </div>
                                       {%if request.user.roll == 'tutor' %}
                                         <div class="form-group">
                                            <label>Subjects</label>
                                            {{tutor_form.subjects}}
                                        </div>
                                        <div class="form-row">
                                            <div class="input-group">
                                                <div class="form-group">
                                                    <label>Experience (Years)</label>
                                                    {{tutor_form.experience}}
                                                </div>
                                                <div class="form-group">
                                                    <label>Hourly Rate</label>
                                                    {{tutor_form.horuly_rate}}

                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Education </label>
                                            {{tutor_form.qualification}}

                                        </div> 
                                       {% else %}
                                        <div class="form-group">
                                            <label>Grade Level</label>
                                            {{student_form.grade_level}}
                                        </div>
                                        <div class="form-row">
                                            <div class="input-group">
                                                <div class="form-group">
                                                    <label>Learning Goal</label>
                                                    {{student_form.learning_goal}}
                                                </div>
                                                <div class="form-group">
                                                    <label>Field of Study</label>
                                                    {{tutor_form.learning_goal}}

                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Education </label>
                                            {{tutor_form.qualification}}

                                        </div> 
                                       {% endif %}
                                        <button type="submit" class=" btn btn-primary">Save</button>
                                    </form>
                                </div>
                            </div>

                            <div id="settings" class="tab-content">
                                <div class="card">
                                    <div class="card-header">
                                        <h3>Account Settings</h3>
                                    </div>
                                    <form class="profile-form">
                                        <div class="form-group">
                                            <label>Language</label>
                                            <select class="form-input">
                                                <option value="en" selected>English</option>
                                                <option value="am">Amharic</option>
                                                <option value="ar">Arabic</option>
                                            </select>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label>Time Zone</label>
                                            <select class="form-input">
                                                <option value="EST" selected>Eastern Standard Time</option>
                                                <option value="PST">Pacific Standard Time</option>
                                                <option value="GMT">Greenwich Mean Time</option>
                                            </select>
                                        </div>
                                        <br>
                                        <div class="form-actions">
                                            <button type="submit" class=" btn btn-primary btn-sm">Save
                                                Settings</button>
                                        </div>

                                    </form>
                                    <div class="card-header">
                                        <h3>Security</h3>
                                    </div>
                                    <div class="security-options">
                                        <div class="security-item">
                                            <div class="security-info">
                                                <h4>Change Password</h4>
                                                <p>Update your account password</p>
                                            </div>
                                            <button class=" btn btn-outline">Change</button>
                                        </div>

                                        <div class="security-item">
                                            <div class="security-info">
                                                <h4>Delete Account</h4>
                                                <p>Permanently delete your account</p>
                                            </div>
                                            <button class="btn  btn-danger">Delete</button>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </main>
    </div>



    {% include "includes/_scripts.html" %}
</body>

</html>